@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*, body, html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

body {
    background: hsl(237, 49%, 15%);
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.app {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.header {
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.score {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    border-radius: 10px;
}

.score__title {
    color: hsla(229, 64%, 46%, 0.8);
    margin: 0;
    font-size: 1rem;
    letter-spacing: 2px;
}

.score__value {
    color: hsl(228, 20%, 38%);
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
}

.rules-button {
    position: absolute;
    bottom: 2rem; 
    right: 2rem;
    padding: 0.5rem 3rem;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal__container {
    background: white;
    border-radius: 20px;
    padding: 2rem;
    position: relative;
}

.modal__title {
    margin: 0 0 3rem 0;
    color: hsl(229, 25%, 31%);
}

.modal__close {
    border: none;
    background: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}

.game {
    position: absolute;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.option__ring {
    background: white;
    border-radius: 50%;
    width: 7.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0px 8px 0px 0px rgb(221, 221, 221);
}

.option__icon {
    position: absolute;
}

.rock {
    background: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
    box-shadow: 0px 8px 0px 0px hsl(349, 58%, 31%);
    top: 9rem;
    left: 4.5rem;
}

.paper {
    background: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
    box-shadow: 0px 8px 0px 0px hsl(230, 56%, 50%);
    top: -4rem;
    left: -3rem;
}

.scissors {
    background: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
    box-shadow: 0px 8px 0px 0px hsl(39, 88%, 44%);
    top: -4rem;
    left: 12rem;
}

.result-1 {
    width: 15rem;
    aspect-ratio: 1;
}

.result-1 .option__ring {
    width: 12rem;
    aspect-ratio: 1;
}

.result-2 {
    width: 15rem;
    aspect-ratio: 1;
}

.result-2 .option__ring {
    width: 12rem;
    aspect-ratio: 1;
}

.empty.result-2 {
    width: 12rem;
    aspect-ratio: 1;
    background: hsla(238, 40%, 15%, 0.603);
}

.empty.result-2 .option__ring {
    width: 0;
    aspect-ratio: 1;
}

.result-1 .option__icon, .result-2 .option__icon {
    width: 45%;
}

.player-choice, .enemy-choice, .option.result-1, .option.result-2 {
    position: relative;
    top: 0;
    left: 0;
}

.option.result-2.empty {
    margin-top: 1.5rem;
}

.player-choice h2, .enemy-choice h2 {
    margin: 5rem 0;
    z-index: 2;
}

.player-choice, .enemy-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 30rem;
}

.mid-gap {
    min-width: 10rem;
    z-index: 3;
}

.result-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
}

.message-text {
    font-size: 2rem;
}

.back-button {
    width: 100%;
    padding: 0.5rem 0;
    background: white;
    color: hsl(349, 71%, 52%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.winner {
    border-radius: 50%;
    animation: winner-joy 1.5s;
    animation-fill-mode: forwards;
}

@keyframes winner-joy {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow:
            0 0 0 50px hsla(214, 47%, 26%, 0.8),
            0 0 0 100px hsla(214, 47%, 23%, 0.8),
            0 0 0 150px hsla(214, 47%, 20%, 0.8);
    }
}

@media (max-width: 768px) {
    *, * > * {
        transition: all 1s;
    }

    .header {
        padding: 1rem;
        width: 95%;
    }

    .header img {
        width: 7rem;
    }

    .score {
        padding: 0.8rem 1.5rem;
    }

    .score__title {
        font-size: 0.8rem;
    }

    .score__value {
        font-size: 2rem;
    }

    .game {
        width: 100%;
        padding-top: 8rem;
        flex-flow: row wrap;
    }

    .background-web {
        width: 60%;
    }

    .option {
        width: 7rem;
    }

    .option__ring {
        width: 5.5rem;
    }

    .option__icon {
        width: 45%;
    }

    .paper {
        top: 5rem;
        left: 3rem;
    }

    .scissors {
        top: 5rem;
        left: 13rem;
    }

    .rock {
        top: 14rem;
        left: 8rem;
    }

    .modal__container {
        height: 100%;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .modal__close {
        position: relative;
        order: 3;
        top: unset;
        right: unset;
    }

    .player-choice, .enemy-choice {
        height: 11rem;
        width: 50%;
    }

    .player-choice h2, .enemy-choice h2 {
        margin: 2rem 0 0 0;
        font-size: 1rem;
        order: 2;
    }

    .player-choice, .enemy-choice, .option.result-1, .option.result-2 {
        top: 0;
        left: 0;
    }

    .result-1 .option__ring {
        width: 5.5rem;
    }

    .mid-gap {
        min-width: 4rem;
        order: 2;
    }

    .option.result-2.empty {
        margin-top: 0.5rem;
    }

    .empty.result-2 {
        width: 6.5rem;
    }

    .result-2 .option__ring {
        width: 5.5rem;
    }

    @keyframes winner-joy {
        0% {
            box-shadow: none;
        }
        100% {
            box-shadow:
                0 0 0 20px hsla(214, 47%, 26%, 0.8),
                0 0 0 50px hsla(214, 47%, 23%, 0.8),
                0 0 0 70px hsla(214, 47%, 20%, 0.8);
        }
    }

    .result-message {
        padding: 0 4rem;
    }

    .message-text {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .back-button {
        padding: 1rem 0;
        color: hsl(228, 20%, 38%);
        font-size: 1rem;
    }

    .rules-button {
        text-align: center;
        right: unset;
    }
}